<ion-view title="Comments">
    <ion-content padding="true" class="has-header" style="">
        <ion-list></ion-list>
        <h3></h3>
        <!--<ion-item class=" item-text-wrap"  ng-repeat="comment in comments"> 
				<h3><strong>{{comment.comment_Text}}</strong></h3>
        </ion-item>-->'
        
      
        
        
        <div  class="card stable-bg ink ink-dark" >
        <div class="item item-avatar item-text-wrap" ng-repeat="comment in comments">
                    <!--<span class="avatar" style="background-image: url('{{product.product_Image}}');"></span>-->
                    <strong>{{comment.comment_Text}}  </strong>    {{comment.comment_Id}} 
                    <div class="card-footer text-right">
                      <!--  <i class="icon ion-chatbubbles positive" ui-sref="app.Comments"></i> 6
                        <i class="icon ion-chevron-right assertive" ui-sref="app.productDetails({id:product.id_Product})"></i> View-->
                        <div class="pull-left">
                            <i class="icon ion-clock"></i> {{product.product_Description}}
                        </div>
                    </div></br>
        </div> </br></br>
    </div>
        
        
          
       <ion-md-input placeholder="Comment" highlight-color="white" type="text"></ion-md-input>
        
        <button ui-sref="app.comments" class="button button-positive button-block "> Add a Comment</button>
        
        
    </ion-content>
</ion-view>